:root {
    --orange: #F78460;
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

body {
    text-align: center;
    background-color: var(--orange);
    margin: 50px 150px;
    line-height: 10px;
    background-image: url("LeftWave_4.webp");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Catalogue Cards*/
#catalogue h2 {
    color: var(--yellow);
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 25px;
}

.card-img-top {
    object-fit: contain;
}

.card {
    background-color: var(--cream);
    color: var(--orange);
}

.card-title {
    padding-bottom: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
}
