:root {
    --orange: rgb(255, 122, 80);
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

/*Catalogue Sort*/
#catSortDropdown {
    padding-bottom: 50px;
}

#catSortDropdown .btn-secondary {
    color: var(--orange);
    background-color: var(--yellow);
    border-color: var(--yellow) !important;
}

#catSortDropdown button:hover {
    color: #1A1A1A; 
    font-weight: bold;
    background-color: var(--orange);
    border: var(--yellow);
}

#catSortDropdown .btn-secondary:hover {
    color: var(--yellow); 
    font-weight: bold;
    background-color: var(--orange);
    box-shadow: 0px 4px 8px var(--yellow) !important;
}

#catalogueSort {
    margin-top: 17px;
}

/*Catalogue Cards*/
#catalogue {
    margin: 150px 250px;
}

@media only screen and (max-width: 1200px) {
    #catalogue {
        margin: 150px 150px;
    }
}

.card-img-top {
    object-fit: cover;
    height: 375px;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
}

.card {
    background-color: var(--cream);
    color: var(--orange);
}

.card-title {
    padding-bottom: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}

@media only screen and (max-width: 1200px) {
    .description {
        display: flex;
        flex-direction: column;
    }
}

.results {
    padding-bottom: 25px;
}

.results p {
    display: inline;
}