body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 122, 80);
  min-height: 100vh;
}

/* Cat Carousel */
.image-container img {
  height: 400px !important;
  object-fit: cover !important;
}

.image-container {
  display: flex;
  justify-content: center;
}

.layered-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.layered-image img {
  height: 700px;
}

#main-image {
  position: absolute;
  top:20px;
  right:60%;
  width:200px;
}

#cat-carousel {
  position: absolute;
  top: 300px;
}

/* Footer */
footer  {
  margin-top: 900px !important;
}