:root {
    --orange: rgb(255, 122, 80);
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

@font-face {
    font-family: 'PicNic';
    src: url('../fonts/PicNic-Regular.otf');
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: var(--orange);
    min-height: 100vh;
    background-image: url("../images/wave-background.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

main {
    flex: 1;
    margin-top: 150px;
}


header {
    background-color: var(--orange);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'PicNic', Arial, sans-serif;
    
}

/*Navbar*/
.navbar {
    position: relative;
    width: 100vw;
}

.logo {
    position: absolute;
    height:auto;
    left: 0px;
    top:10%;
    width:auto;
    }

.navbar ul{
    list-style: none;
    background: var(--orange);
    padding: 0;
    margin: 0;
    top: 75%;
    text-align: right;
    position:absolute;
    right: 5%;
   }

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: var(--yellow);
    width: 100px;
    display: block;
    padding: 25px;
    font-weight: bold;
    text-align: center;
}

.icon {
    width: 30px;
}

.icon:hover{
    box-shadow: 0 0 20px var(--yellow) !important; 
}

.navbar a:hover{
    text-decoration: none;
    color: var(--orange);
    background: var(--yellow);
} 

.icon img {
    width: 100%;
    display:block;
}

/*Modal Form*/
.modal-content {
    background-color: var(--cream);
}

.modal-body {
    border: var(--orange) !important;
}

.modal-body p {
    color: var(--orange);
}

.modal-title {
    color: var(--orange);
}

.modal-footer button {
    background-color: var(--orange);
    border: var(--orange);
}

.modal-footer button:hover {
    background-color: var(--yellow);
    border: var(--yellow);
    color: var(--orange);
}

.modal-body img {
    padding-bottom: 50px;
}

#checkboxes {
    text-align: center;
}

.btn-secondary {
    color: var(--orange);
    background-color: var(--yellow);
    border-color: var(--yellow) !important;
}

button:hover {
    color: #1A1A1A; 
    font-weight: bold;
    background-color: var(--yellow);
    border: var(--yellow);
}

.btn-secondary:hover {
    color: var(--yellow); 
    font-weight: bold;
    background-color: var(--orange);
    box-shadow: 0px 4px 8px var(--yellow) !important;
}

/*Result cards*/
#results {
    margin: 150px 250px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    #results {
        margin: 150px 150px;
        text-align: center;
    }
}

#results h2 {
    color: var(--yellow) ;
    text-decoration: underline ;
    font-size: 25px ;
    padding-bottom: 25px ;
}

.hide {
    content-visibility: hidden;
}

.card-img-top {
    object-fit: cover ;
    height: 375px ;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
}

.card {
    background-color: var(--cream) !important;
    color: var(--orange) !important;
}

.card-title {
    padding-bottom: 10px ;
}

.description {
    display: flex ;
    justify-content: space-between ;
}

@media only screen and (max-width: 1200px) {
    .description {
        display: flex;
        flex-direction: column;
    }
}