:root {
    --orange: rgb(255, 122, 80);
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

@font-face {
    font-family: 'PicNic';
    src: url('../fonts/PicNic-Regular.otf');
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: var(--cream);
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: var(--orange);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'PicNic', Arial, sans-serif;
    
}

/*Error Pop up*/
.modal-content {
    background-color: var(--cream);
}

.modal-body {
    border: var(--orange) !important;
}

.modal-body p {
    color: var(--orange);
}

.modal-title {
    color: var(--orange);
}

.modal-footer button {
    background-color: var(--orange);
    border: var(--orange);
}

.modal-footer button:hover {
    background-color: var(--yellow);
    border: var(--yellow);
    color: var(--orange);
}

#checkboxes {
    text-align: center;
}

.btn-secondary {
    color: var(--cream);
    background-color: var(--orange);
    border-color: var(--orange) !important;
}

button:hover {
    color: #1A1A1A; 
    font-weight: bold;
    background-color: var(--yellow);
    border: var(--yellow);
}

.btn-secondary:hover {
    color: var(--orange); 
    font-weight: bold;
    background-color: var(--yellow);
    box-shadow: 0px 4px 8px var(--orange) !important;
}

/*Result cards*/

#results {
    text-align: center;
}

#results h2 {
    color: var(--yellow) ;
    text-decoration: underline ;
    font-size: 25px ;
    padding-bottom: 25px ;
}

.hide {
    content-visibility: hidden;
}

.card-img-top {
    object-fit: cover ;
    height: 375px ;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
}

.card {
    background-color: var(--orange) !important;
    color: var(--cream) !important;
}

.card-title {
    padding-bottom: 10px ;
}

.description {
    display: flex ;
    justify-content: space-between ;
}