:root {
    --orange: rgb(255, 122, 80);
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

@font-face {
    font-family: 'PicNic';
    src: url('../fonts/PicNic-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 122, 80);
    min-height: 100vh;
    
}

/* Search */

main {
    padding-top: 150px;
}

h1 {
    padding-left: 2%;
    word-spacing: 1%;
}

#checkboxes {
    text-align: center;
}

.btn-secondary {
    color: var(--orange);
    background-color: var(--yellow);
    border-color: var(--yellow) !important;
}

button:hover {
    color: #1A1A1A; 
    font-weight: bold;
    background-color: var(--orange);
    border: var(--yellow);
}

.btn-secondary:hover {
    color: var(--yellow); 
    font-weight: bold;
    background-color: var(--orange);
    box-shadow: 0px 4px 8px var(--yellow) !important;
}

/*Result cards*/
#no-cat-results{
    text-align: center;
    color: var(--cream);
    padding-top: 100px;
}

#results {
    margin: 100px 250px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    #results {
        margin: 100px 150px;
    }
}

#results h2 {
    color: var(--orange) ;
    text-decoration: underline ;
    font-size: 25px ;
    padding-bottom: 25px ;
}

.hide {
    content-visibility: hidden;
}

.card-img-top {
    object-fit: cover ;
    height: 375px ;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
}

.card {
    background-color: var(--cream) !important;
    color: var(--orange) !important;
}

.card-title {
    padding-bottom: 10px ;
}

.description {
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}

@media only screen and (max-width: 1200px) {
    .description {
        display: flex;
        flex-direction: column;
    }
}

.results {
    padding-bottom: 25px;
}

.results p {
    display: inline;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid yellow;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Checkbox color*/
body input[type=checkbox]:checked {
    border: 2px solid orange !important;
    background-color: red !important;
}
input[type=checkbox] {
    border: 2px solid yellow;
    background-color: yellow;
}

/* Search form size and frame*/
.search-form-container {
    border: 2px solid yellow; 
    border-radius: 5px; 
    padding: 20px; 
    width: 90%; 
    max-width: 400px;
    margin-bottom:0 auto 20px; 
    display: inline-block;
}

.container {
    text-align: center;
}

.search-form-container label {
    font-weight: bold; 
}

.search-form-container input[type="number"],
    .search-form-container select {
        width: 100%; 
    }

@media only screen and (max-width: 767px) {
    .search-form-container {
        margin-top: 50%; 
    }
}