@font-face {
    font-family: 'PicNic';
    src: url('./fonts/PicNic-Regular.otf') format('otf');
}


h1 {
    font-family: 'PicNic', Arial, sans-serif;
}

:root {
    --orange: #F78460;
    --cream: #FFEBD4;
    --yellow: #FCFF75;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color:rgb(248, 146, 86);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 50%;
    padding: 5px;
}

/* Buttons styling */
button {
    background-color: rgb(248, 146, 86);;
    color: black; /* Text color */
}
/* Button hover over styling */
button:hover {
    color: #1A1A1A; /* Change 'your_hover_color' to the desired hover color */
    font-weight: bold;
}
/* when hover over button - it displays coloured box shadow */
.btn-primary-hover-shadow:hover {
    box-shadow: 0px 4px 8px  #73FBFD !important;
}

/*Modal Form*/
.modal-content {
    background-color: #FFEBD4;
}

.modal-body {
    border: #F78460 !important;
}

.modal-body p {
    color: #F78460;
}

.modal-title {
    color: #F78460;
}

.modal-footer button {
    background-color: #F78460;
    border: #F78460;
}

.modal-footer button:hover {
    background-color: #FCFF75;
    border: #FCFF75;
    color: #F78460;
}

/*Catalogue Cards*/
#results {
    text-align: center;
}

#results h2 {
    color: var(--yellow);
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 25px;
}

.hide {
    content-visibility: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 375px;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        object-fit: cover;
        height: 200px;
    }
}

.card {
    background-color: var(--cream);
    color: var(--orange);
}

.card-title {
    padding-bottom: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
}